backports.shutil-get-terminal-size==1.0.0
certifi==2016.2.28
colorama==0.3.9
decorator==4.1.2
Django==1.10.5
djangorestframework==3.7.0
enum34==1.1.6
freeze==1.0.10
ipdb==0.10.3
ipython==5.5.0
ipython-genutils==0.2.0
pathlib2==2.3.0
pep8==1.7.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
Pygments==2.2.0
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
win-unicode-console==0.5
wincertstore==0.2
