{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的预约</title>


</head>
<body>
<div class="appointments" id="appointments"></div>


<script src="{% static "assets/js/jquery.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>

<script src="{% static "assets/js/jquery.sparkline.js" %}"></script>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "seat/jquery.seat-charts.js" %}"></script>

<script src="{% static "js/js.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/gritter/js/jquery.gritter.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/gritter-conf.js" %}"></script>
</body>
</html>